*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sphinx
docs/_build

# Virtualenvs
env/

# py.test cache
.cache

# ignore local image uploads
poet/local_uploads/*.png
poet/local_uploads/*.jpg
poet/local_uploads/*.jpe
poet/local_uploads/*.jpeg
poet/local_uploads/*.gif
poet/local_uploads/*.svg
poet/local_uploads/*.bmp
